
<form #form="ngForm" (ngSubmit)="login()" class="login-form">
  <h2>Login</h2>

  <!-- 邮箱 -->
  <input [(ngModel)]="userEmail" name="userEmail" #userEmailField="ngModel"
         placeholder="邮箱" required
         [ngClass]="{'invalid': userEmailField.invalid && userEmailField.touched}" />
  <div class="error" *ngIf="userEmailField.invalid && userEmailField.touched">
    邮箱为必填项
  </div>
  <br />

  <!-- 密码 -->
  <input [(ngModel)]="password" name="password" type="password" #passwordField="ngModel"
         placeholder="密码" required
         [ngClass]="{'invalid': passwordField.invalid && passwordField.touched}" />
  <div class="error" *ngIf="passwordField.invalid && passwordField.touched">
    密码为必填项
  </div>
  <br />

  <!-- 登录按钮 -->
  <button
    type="submit"
    [disabled]="form.invalid"
    [ngClass]="{'submit-disabled': form.invalid, 'submit-active': form.valid}">
    登录
  </button>

  <a>
    <label class="register-label"  [routerLink]="['/user_register']">没有账号？点我注册</label>
  </a>
</form>
